#root {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cell {
    background: #fff;
    border-style: solid;
    border-color: #999;
    float: left;
    padding: 0;
    box-sizing: content-box;
}

.indicator {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.game-board {
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dock {
    border: 1px solid #999;
    display: flex;
    margin: 0;
}

.port {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.ship {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}