#root {
    display: flex;
    justify-content: center;
    text-align: center;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-board {
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    background: #fff;
    border-style: solid;
    border-color: #999;
    float: left;
    padding: 0;
}

.cell-target {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
}

.dock {
    border: 1px solid #999;
}

.dock-target {
    height: 100%;
    width: 100%;
    display: flex;
}

.port {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.ship {
    position: relative;
}